{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}
<div class="content" style="border: 2px solid #070c0a;">
    <h2>About us</h2>
    <h3>Our goal is to deliver you an easy to use application where you and your lecturer can upload and review
        your CV and deliver feedback to you on how your CV could be improved. We work with a number of clients
        who are looking to take students on for work placement during summer. Our clients post jobs on our website for you
        to view and apply for if you are interested. Make sure you have worked with your lecturer in advancement of applying
        for jobs but also keep an eye on deadlines that the employers set. Our clients work strictly around deadlines, once the
        deadline has occurred all CVs will be downloaded automatically to the client and submissions will close.<br></br>
        • We wish you all the best on your job hunt! To see our job page click on the link:
        <a href="{{ url('jobs') }}">
            Apply for jobs
        </a>
    </h3>
</div>
<style>
    body {
        background-color: coral;
    }
    h2 {
        text-align:center;
        font-family: Tahoma, sans-serif;
    }
    .content{
        background-image: url(/images/backgroundcontentabout.png);
    }
    h3 {
        text-align:center;
        font-family: Tahoma, sans-serif;
        font-weight:normal;
    }
    </style>
{% endblock %}
