{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

 {% block stylesheets %}
     {#{{ encore_entry_link_tags('app') }}#}
 {% endblock %}
{% block body %}
<div class="header">
    <a href="{{ path('default') }}"><img src="/images/applogo.png" id="applogo" alt="homepage"></a>
</div>
<div class="content" style="border: 2px solid #070c0a;">
    <h2>Work Placement Job Application Manager</h2>
    <p> • Prepare your CV, upload it and receive feedback from your lecturer!
        • Employer will update jobs here where you may apply before the deadline ends!
    </p>
</div>
<style>
    #applogo{
        width: 1260px;
        height: 300px;
        border: 2px solid #070c0a;
    }
    body {
        background-color: lightblue;
    }
    .content{
        background-image: url(/images/backgroundcontent.png);
    }
    h2 {
        text-align:center;
    }
    p {
        text-align:center
    }
</style>
{% endblock %}
