<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <div class="header">
            <a href="{{ path('default') }}"><img src="/images/applogo.png" id="applogo" alt="homepage"></a>
        </div>

        <style>
            #applogo{
                width: 1240px;
                height: 300px;
                border: 2px solid #070c0a;
            }
            table, th, td {
                border: 1px solid black;
                text-align: center;
            }
            table {
                width: 100%;
                border-collapse: collapse;
            }
            tr:nth-child(odd) {background-color: #ADD8E6;}
            tr:nth-child(even) {background-color: #f2f2f2;}
            th {
                height: 50px;
                background-color: #2F4F4F;
                color: white;
            }
        </style>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
